#chat {
  padding: .5em;
  border: 1px solid #777;
  height: 450px;
  overflow-y: scroll;
}

#send{
  margin-top: 22px;
}

.username {
  font-weight: bold;
  color: #226;
}

html, body {
  height: 100%;
}

.table {
  font-size:8pt;
}

.plot, .table{
  margin-top: 1em;
}
